body {
    background-color: #cacaca;
}

/*Align the title to the center of the page*/
.table{
	font-size: 13px;
	text-align: center;
	width: 95%;
	margin: auto;
	text-align: center;
}

/*Make alternating colors for the table rows*/
.table tr:nth-child(odd){
	background: #cacaca
}

.table tr:nth-child(even){
	background: #e9e9e9
}

th {
	color: #000000;
}

.display_table{
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 20px;
	box-shadow: 12px 12px 20px 6px #cacaca;
}

.header {
    font-family: helvetica;
    font-size: 50px;
    text-align: center;
    width: 100%;
    text-shadow: 6px 6px 6px #c9c6c6;
    display: block;
    font-weight: bolder;
}

/**********************************
Date Picker
**********************************/

.ui-datepicker{
	display: none;
	padding: 15px;
	background-color: whitesmoke;
	border: 2px solid black;
	border-radius: 15px;
}

.ui-datepicker tbody, td, tfoot, th, thead, tr {
		padding: 5px;
}

/**********************************
Swal2 Styling (buttons)
**********************************/
.swal2-confirm {
	margin: 10px;
}

.pointer {
	cursor: pointer;
}