{% extends 'base.html' %}

{% block title %} Add Item {% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<form method="POST">
    {% csrf_token %}
    <!--{{ form|crispy }}-->
    <div>
        <div>
            {{ form.household|as_crispy_field }}
        </div>
        <div>
            {{ form.room|as_crispy_field }}
        </div>
        <div>
            {{ form.location|as_crispy_field }}
        </div>
        <div>
            {{ form.category|as_crispy_field }}
        </div>
        <div>
            {{ form.item_name|as_crispy_field }}
        </div>
        <div>
            {{ form.quantity|as_crispy_field }}
        </div>
        <div>
            {{ form.has_warranty|as_crispy_field }}
        </div>
        <div>
            {{ form.item_notes|as_crispy_field }}
        </div>
    </div>

    <br />

    <!-- For the back button to go back to the previous screen and the save button 
    to back to the add-item page while save another will save and stay on the page -->
    <div class="form-group">
        <a id="back-button" href="" onclick="javascript:window.history.back(-1);return false;">
            <div class="btn btn-warning">Back</div>
        </a>
        <input type="submit" value='Save' class="btn btn-primary" />
    </div>
</form>

{% endblock %}

{% block afterloadjs %}

{% endblock %}