{% extends 'base.html' %}

{% block title %} Add Item {% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<form method="POST">
    {% csrf_token %}
    <!--{{ form|crispy }}-->
    <div>
        <div>
            {{ form.household|as_crispy_field }}
        </div>
        <div>
            {{ form.room|as_crispy_field }}
        </div>
        <div>
            {{ form.location|as_crispy_field }}
        </div>
        <div>
            {{ form.category|as_crispy_field }}
        </div>
        <div>
            {{ form.item_name|as_crispy_field }}
        </div>
        <div>
            {{ form.quantity|as_crispy_field }}
        </div>
        <div>
            {{ form.item_notes|as_crispy_field }}
        </div>
    </div>
    <br />
    <div class="form-group">
        <a id="back-button" href="" onclick="javascript:window.history.back(-1);return false;">
            <div class="btn btn-warning">Back</div>
        </a>
        <input type="submit" value='Save' class="btn btn-primary" />
    </div>
</form>

{% endblock %}

{% block afterloadjs %}

{% include '../partials/messages.html' %}

<script>
    // Get a reference to the display_table element
    const displayTable = document.querySelector('.display_table');

    // Get a reference to the back button element
    const backButton = document.getElementById('back-button');

    // Check if the display_table element is visible
    function isDisplayTableVisible() {
        return window.getComputedStyle(displayTable).display !== 'none';
    }

    // Hide the back button if the display_table element is visible
    if (isDisplayTableVisible()) {
        backButton.setAttribute('hidden', 'true');
    }
</script>


{% endblock %}