{% extends 'base.html' %}

{% block title %} Add Room {% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<form method="POST" class="custom-fields">
    {% csrf_token %}
    <!--{{ form|crispy }}-->
    <div>
        <div>
            {{ form.name|as_crispy_field }}
        </div>
    </div>
    <!-- For the back button to go back to the previous screen and the save button 
    to back to the add-item page while save another will save and stay on the page -->
    <div class="form-group">
        {% if 'add' not in request.path %}
        <a id="back-button" onclick="javascript:window.history.back(-1);return false;">
            <div class="custom-btn btn btn-warning">Back</div>
        </a>
        {% endif %}
        <input type="submit" name="save" value='Save' class="custom-btn btn btn-primary" />
        {% if 'update' not in request.path %}
        <input type="submit" name="add_another" value='Add Another' class="custom-btn btn btn-primary" />
        {% endif %}
    </div>
</form>

<br />

{% if 'update' not in request.path %}
<!-- The delete icon will take the id of the title and activate 
    the sweetalert where the confirmation would take place-->
<div class="display_table" id="display_table">
    <table class='table'>
        <thead>
            <tr>
                <th>NAME</th>
                <th>COUNT OF ITEMS</th>
                <th>UPDATE/DELETE</th>
            </tr>
        </thead>
        {% for instance in rooms %}
        <tr>
            <td>{{ instance.name|title }}</td>
            <td>{{ instance.total_quantity }}</td>
            <td><a href="{% url 'update_room' instance.id %}"><i class="fa-solid fa-pen-to-square px-3"></i></a>
                <a class="pointer"
                    onclick="deleteRoomConfirmation('{{ instance.name.title }}', '{% url 'delete_room' instance.id %}')">
                    <i class="fa-solid fa-trash px-3"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %}

{% endblock %}

{% block afterloadjs %}

{% endblock %}