{% extends 'base.html' %}

{% block title %} Add Item {% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<form method="POST" id="your-form">
    {% csrf_token %}
    {{ form|crispy }}

    <br />
    <div class="form-group text-center">
        <!-- Use proper anchor tag for navigation -->
        <a href="#" onclick="goBack();">
            <div class="custom-btn btn btn-warning">Back</div>
        </a>
        <button type="submit" name="save" class="custom-btn btn btn-primary multi-line-btn">
            Save and Return to Item List
        </button>
        <button type="submit" name="add_another" class="custom-btn btn btn-primary multi-line-btn">
            Save and Add Another Item
        </button>
    </div>
</form>

{% endblock %}

{% block afterloadjs %}
<script>
    // JavaScript function to handle form submission
    function goBack() {
        window.history.back();
    }

    // JavaScript to reset form fields when the page loads
    document.addEventListener('DOMContentLoaded', function () {
        var form = document.getElementById('your-form');
        if (form) {
            form.reset(); // Reset form fields
        }
    });
</script>
{% endblock %}