{% extends 'base.html' %}

{% block title %} Add Item {% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<form method="POST" id="your-form">
    {% csrf_token %}
    {{ form|crispy }}

    <br />
    <!-- For the back button to go back to the previous screen and the save button 
    to back to the add-item page while save another will save and stay on the page -->
    <div class="form-group">
        <a href="" onclick="javascript:window.history.back(-1);return false;">
            <div class="custom-btn btn btn-warning">Back</div>
        </a>
        <button type="submit" name="save" class="custom-btn btn btn-primary multi-line-btn">
            Save<br>& Back to Item List
        </button>
        <button type="submit" name="add_another" class="custom-btn btn btn-primary multi-line-btn">
            Save<br>& Back to Item Detail
        </button>
    </div>
</form>

<script>
    // Add this JavaScript code to clear form fields when the page loads
    document.addEventListener('DOMContentLoaded', function () {
        var form = document.getElementById('your-form');
        if (form) {
            // Reset the form fields
            form.reset();
        }
    });
</script>

{% endblock %}