{% extends 'base.html' %}

{% block title %} Item List Page {% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<form method="POST" action="">{% csrf_token %}
    <div class="row">
        <div class="col-3">
            {{ form.household|as_crispy_field }}
        </div>
        <div class="col-3">
            {{ form.room|as_crispy_field }}
        </div>
        <div class="col-3">
            {{ form.category|as_crispy_field }}
        </div>
        <div class="col-3">
            {{ form.item_name|as_crispy_field }}
        </div>
    </div>
    <input type="submit" value="Search" />
</form>
<br>

<div class="display_table">
    <table class="table">
        <thead>
            <tr>
                <th>COUNT</th>
                <th>CATEGORY</th>
                <th>ITEM NAME</th>
                <th>QUANTITY</th>
                <th>TIMESTAMP</th>
                <th>LAST UPDATED</th>
                <th>UPDATE/DELETE</th>
            </tr>
        </thead>
        {% for instance in queryset %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{instance.category}}</td>
            <td><a href="{% url 'update_items' instance.id %}">{{instance.item_name}}</a></td>
            <td>
                {% if instance.quantity <= instance.reorder_level %}
                <div style="background-color: orange;">
                    {{instance.quantity}}</a>
                </div>
                {% else %}
                {{instance.quantity}}</a>
                {% endif %}
            </td>

            <td>{{instance.timestamp}}</td>
            <td>{{instance.last_updated}}</td>
            <td><a href="{% url 'receive_items' instance.id %}"><i class="fa-solid fa-hand-holding-hand px-3"
                        data-toggle="tooltip" data-placement="top" title="Receiving an item"></i></a>
                <a href="{% url 'issue_items' instance.id %}"><i class="fa-solid fa-hand-holding px-3"
                        data-toggle="tooltip" data-placement="top" title="Giving an item"></i></a>
                <a href="{% url 'item_detail' instance.id %}"><i class="fa-solid fa-info px-3"></i></a>
                <a href="{% url 'update_items' instance.id %}"><i class="fa-solid fa-pen-to-square px-3"></i></a>
                <a href="{% url 'delete_items' instance.id %}"><i class="fa-solid fa-trash"></i></a></td>

        </tr>

        {% endfor %}
    </table>
</div>

{% endblock %}

{% block afterloadjs %}

{% include '../partials/messages.html' %}

<script>
    $(document).ready(function () {
        $('#myTable').DataTable(); // Initialize DataTables on your table with the ID "myTable"
    });
</script>


{% endblock %}