{% extends 'base.html' %}
<!-- Extending the base template -->

{% block title %}Item List Page{% endblock %}
<!-- Setting the page title -->

{% load crispy_forms_tags %}
<!-- Loading crispy forms tags for form rendering -->

{% block content %}
<!-- Search Form for Large Screens -->
<form method="POST" action="" class="d-lg-block d-md-none d-sm-none d-none">
    {% csrf_token %}
    <div class="row">
        <!-- Form Fields for Filtering -->
        <div class="col-lg-3 col-md-6 col-sm-12">
            {{ form.household|as_crispy_field }}
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            {{ form.room|as_crispy_field }}
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            {{ form.category|as_crispy_field }}
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            {{ form.item_name|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ form.export_to_CSV|as_crispy_field }}
        </div>
    </div>
    <input type="submit" value="Search" />
</form>

<!-- Search Form for Small Screens (Accordion) -->
<div class="accordion d-lg-none d-md-block d-sm-block d-block" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                Search Filters
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <!-- Search Form for Small Screens -->
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="row">
                        <!-- Form Fields for Filtering -->
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            {{ form.household|as_crispy_field }}
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            {{ form.room|as_crispy_field }}
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            {{ form.category|as_crispy_field }}
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            {{ form.item_name|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ form.export_to_CSV|as_crispy_field }}
                        </div>
                    </div>
                    <input type="submit" value="Search" />
                </form>
            </div>
        </div>
    </div>
</div>

<br>

<!-- Large Table Begins -->
<div class="display_table d-lg-block d-md-none d-none">
    <table class="table">
        <thead>
            <!-- Table Headers -->
            <tr>
                <th>COUNT</th>
                <th>ITEM NAME</th>
                <th>CATEGORY</th>
                <th>ROOM</th>
                <th>QUANTITY</th>
                <th>HAS WARRANTY</th>
                <th>UPDATE/DELETE</th>
            </tr>
        </thead>
        {% for stock in items %}
        <!-- Table Rows -->
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="{% url 'update_items' stock.id %}">{{ stock.item_name|title }}</a></td>
            <td>{{ stock.category }}</td>
            <td>{{ stock.room }}</td>
            <td>
                {% if stock.quantity <= stock.reorder_level %}
                <div style="background-color: orange;">
                    {{ stock.quantity }}
                </div>
                {% else %}
                {{ stock.quantity }}
                {% endif %}
            </td>
            <td>
                {% if stock.has_warranty %}
                Yes
                {% else %}
                No
                {% endif %}
            </td>
            <td>
                <!-- Links for Actions -->
                <a href="{% url 'receive_items' stock.id %}"><i class="fa-solid fa-hand-holding-hand custom-icon"
                        data-toggle="tooltip" data-placement="top" title="Item In"></i></a>
                <a href="{% url 'issue_items' stock.id %}"><i class="fa-solid fa-hand-holding custom-icon"
                        data-toggle="tooltip" data-placement="top" title="Item Out"></i></a>
                <a href="{% url 'item_detail' stock.id %}"><i class="fa-solid fa-info custom-icon"></i></a>
                <a href="{% url 'update_items' stock.id %}"><i class="fa-solid fa-pen-to-square custom-icon"></i></a>
                <a href="{% url 'delete_items' stock.id %}"><i class="fa-solid fa-trash"></i></a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
<!-- Large Table Ends -->

<!-- Medium Table Begins -->
<div class="display_table d-lg-none d-md-block d-sm-none d-none">
    <table class="table">
        <thead>
            <!-- Table Headers -->
            <tr>
                <th>COUNT</th>
                <th>ITEM NAME</th>
                <th>QUANTITY</th>
                <th>UPDATE/DELETE</th>
            </tr>
        </thead>
        {% for stock in items %}
        <!-- Table Rows -->
        <tr>
            <td>
                <button class="custom-btn btn btn-link" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="false"
                    aria-controls="collapse{{ forloop.counter }}">
                    {{ forloop.counter }}
                </button>
            </td>
            <td><a href="{% url 'update_items' stock.id %}">{{ stock.item_name|title }}</a></td>
            <td>
                {% if stock.quantity <= stock.reorder_level %}
                <div style="background-color: orange;">
                    {{ stock.quantity }}
                </div>
                {% else %}
                {{ stock.quantity }}
                {% endif %}
            </td>
            <td>
                <!-- Links for Actions -->
                <a href="{% url 'receive_items' stock.id %}"><i class="fa-solid fa-hand-holding-hand custom-icon"
                        data-toggle="tooltip" data-placement="top" title="Item In"></i></a>
                <a href="{% url 'issue_items' stock.id %}"><i class="fa-solid fa-hand-holding custom-icon"
                        data-toggle="tooltip" data-placement="top" title="Item Out"></i></a>
                <a href="{% url 'item_detail' stock.id %}"><i class="fa-solid fa-info custom-icon"></i></a>
                <a href="{% url 'update_items' stock.id %}"><i class="fa-solid fa-pen-to-square custom-icon"></i></a>
                <a href="{% url 'delete_items' stock.id %}"><i class="fa-solid fa-trash"></i></a>
            </td>
        </tr>
        <!-- Additional Details in Collapsible Row -->
        <tr>
            <td colspan="7">
                <div class="collapse" id="collapse{{ forloop.counter }}">
                    <div class="card card-body">
                        <table class="table">
                            <!-- Additional Details -->
                            <tr>
                                <th>HOUSEHOLD</th>
                                <td>{{ stock.household }}</td>
                            </tr>
                            <tr>
                                <th>CATEGORY</th>
                                <td>{{ stock.category }}</td>
                            </tr>
                            <tr>
                                <th>ROOM</th>
                                <td>{{ stock.room }}</td>
                            </tr>
                            <tr>
                                <th>HAS WARRANTY</th>
                                <td>
                                    {% if stock.has_warranty %}
                                    Yes
                                    {% else %}
                                    No
                                    {% endif %}
                                </td>
                            </tr>
                        </table>
                        <!-- Add additional content related to this table row -->
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
<!-- Medium Table Ends -->

<!-- Small Table Begins -->
<div class="display_table d-lg-none d-md-none d-sm-block">
    <table class="table">
        <thead>
            <!-- Table Headers -->
            <tr>
                <th>COUNT</th>
                <th>ITEM NAME</th>
            </tr>
        </thead>
        {% for stock in items %}
        <!-- Table Rows -->
        <tr>
            <td>
                <button class="custom-btn btn btn-link" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="false"
                    aria-controls="collapse{{ forloop.counter }}">
                    {{ forloop.counter }}
                </button>
            </td>
            <td><a href="{% url 'update_items' stock.id %}">{{ stock.item_name|title }}</a></td>
        </tr>
        <!-- Additional Details in Collapsible Row -->
        <tr>
            <td colspan="7">
                <div class="collapse" id="collapse{{ forloop.counter }}">
                    <div class="card card-body">
                        <table class="table">
                            <!-- Additional Details -->
                            <tr>
                                <th>HOUSEHOLD</th>
                                <td>{{ stock.household }}</td>
                            </tr>
                            <tr>
                                <th>CATEGORY</th>
                                <td>{{ stock.category }}</td>
                            </tr>
                            <tr>
                                <th>ROOM</th>
                                <td>{{ stock.room }}</td>
                            </tr>
                            <tr>
                                <th>QUANTITY</th>
                                <td>
                                    {% if stock.quantity <= stock.reorder_level %}
                                    <div style="background-color: orange;">
                                        {{ stock.quantity }}
                                    </div>
                                    {% else %}
                                    {{ stock.quantity }}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>HAS WARRANTY</th>
                                <td>
                                    {% if stock.has_warranty %}
                                    Yes
                                    {% else %}
                                    No
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <!-- Links for Actions -->
                                    <a href="{% url 'receive_items' stock.id %}"><i
                                            class="fa-solid fa-hand-holding-hand custom-icon" data-toggle="tooltip"
                                            data-placement="top" title="Item In"></i></a>
                                    <a href="{% url 'issue_items' stock.id %}"><i
                                            class="fa-solid fa-hand-holding custom-icon" data-toggle="tooltip"
                                            data-placement="top" title="Item Out"></i></a>
                                    <a href="{% url 'item_detail' stock.id %}"><i
                                            class="fa-solid fa-info custom-icon"></i></a>
                                    <a href="{% url 'update_items' stock.id %}"><i
                                            class="fa-solid fa-pen-to-square custom-icon"></i></a>
                                    <a href="{% url 'delete_items' stock.id %}"><i class="fa-solid fa-trash"></i></a>
                                </td>
                            </tr>
                        </table>
                        <!-- Add additional content related to this table row -->
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
<!-- Small Table Ends -->

<!-- Bootstrap Pagination for Large Screens -->
<br>
<div class="d-sm-none d-md-block d-sm-none d-none">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                {% if items.has_previous %}
                <a class="page-link" href="?page=1">&laquo; First</a>
                {% else %}
                <span class="page-link disabled">&laquo; First</span>
                {% endif %}
            </li>
            <li class="page-item">
                {% if items.has_previous %}
                <a class="page-link" href="?page={{ items.previous_page_number }}">Previous</a>
                {% else %}
                <span class="page-link disabled">Previous</span>
                {% endif %}
            </li>
            <li class="page-item">
                <span class="page-link">
                    Page {{ items.number }} of {{ items.paginator.num_pages }}
                </span>
            </li>
            <li class="page-item">
                {% if items.has_next %}
                <a class="page-link" href="?page={{ items.next_page_number }}">Next</a>
                {% else %}
                <span class="page-link disabled">Next</span>
                {% endif %}
            </li>
            <li class="page-item">
                {% if items.has_next %}
                <a class="page-link" href="?page={{ items.paginator.num_pages }}">Last &raquo;</a>
                {% else %}
                <span class="page-link disabled">Last &raquo;</span>
                {% endif %}
            </li>
        </ul>
    </nav>
</div>

<!-- Bootstrap Pagination for Medium Screens -->
<div class="d-sm-block d-md-none d-block">
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if items.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="First">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ items.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}

            <li class="page-item active">
                <span class="page-link">{{ items.number }} <span class="sr-only">(current)</span></span>
            </li>

            {% if items.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ items.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ items.paginator.num_pages }}" aria-label="Last">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}

{% block afterloadjs %}
<!-- JavaScript for Bootstrap and Form Submission -->
<script>
    $(document).ready(function () {
        $('#myTable').DataTable(); // Initialize DataTables on your table with the ID "myTable"
        $('.collapse').collapse()
    });

    document.getElementById('searchForm').addEventListener('submit', function (e) {
        e.preventDefault(); // Prevent the form from actually submitting
        // Close the accordion
        var accordionElement = document.getElementById('collapseOne');
        var bsCollapseInstance = new bootstrap.Collapse(accordionElement);
        bsCollapseInstance.hide();
        // Now you can submit the form if needed
        this.submit();
    });
</script>
{% endblock %}