{% extends 'base.html' %}

{% block title %} Item List Page {% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<form method="POST" action="" class="d-lg-block d-md-none d-sm-none d-none">
    {% csrf_token %}
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
            {{ form.household|as_crispy_field }}
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            {{ form.room|as_crispy_field }}
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            {{ form.category|as_crispy_field }}
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            {{ form.item_name|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ form.export_to_CSV|as_crispy_field }}
        </div>
    </div>
    <input type="submit" value="Search" />
</form>

<div class="accordion d-lg-none d-md-block d-sm-block d-block" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                Search Filters
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            {{ form.household|as_crispy_field }}
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            {{ form.room|as_crispy_field }}
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            {{ form.category|as_crispy_field }}
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            {{ form.item_name|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ form.export_to_CSV|as_crispy_field }}
                        </div>
                    </div>
                    <input type="submit" value="Search" />
                </form>
            </div>
        </div>
    </div>
</div>


<br>

<!-- Large Table Begins -->
<div class="display_table d-lg-block d-md-none d-none">
    <table class="table">
        <thead>
            <tr>
                <th>COUNT</th>
                <th>ITEM NAME</th>
                <th>CATEGORY</th>
                <th>ROOM</th>
                <th>QUANTITY</th>
                <th>HAS WARRANTY</th>
                <th>UPDATE/DELETE</th>
            </tr>
        </thead>
        {% for instance in queryset %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td><a href="{% url 'update_items' instance.id %}">{{instance.item_name|title}}</a></td>
            <td>{{instance.category}}</td>
            <td>{{instance.room}}</td>
            <td>
                {% if instance.quantity <= instance.reorder_level %}
                <div style="background-color: orange;">
                    {{instance.quantity}}
                </div>
                {% else %}
                {{instance.quantity}}
                {% endif %}
            </td>
            <td>
                {% if instance.has_warranty %}
                Yes
                {% else %}
                No
                {% endif %}
            </td>
            <td><a href="{% url 'receive_items' instance.id %}"><i class="fa-solid fa-hand-holding-hand px-3"
                        data-toggle="tooltip" data-placement="top" title="Item In"></i></a>
                <a href="{% url 'issue_items' instance.id %}"><i class="fa-solid fa-hand-holding px-3"
                        data-toggle="tooltip" data-placement="top" title="Item Out"></i></a>
                <a href="{% url 'item_detail' instance.id %}"><i class="fa-solid fa-info px-3"></i></a>
                <a href="{% url 'update_items' instance.id %}"><i class="fa-solid fa-pen-to-square px-3"></i></a>
                <a href="{% url 'delete_items' instance.id %}"><i class="fa-solid fa-trash"></i></a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
<!-- Large Table Ends -->

<!-- Medium Table Begins -->
<div class="display_table d-lg-none d-md-block d-sm-none d-none">
    <table class="table">
        <thead>
            <tr>
                <th>COUNT</th>
                <th>ITEM NAME</th>
                <th>QUANTITY</th>
                <th>UPDATE/DELETE</th>
            </tr>
        </thead>
        {% for instance in queryset %}
        <tr>
            <td>
                <button class="custom-btn btn btn-link" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse{{forloop.counter}}" aria-expanded="false"
                    aria-controls="collapse{{forloop.counter}}">
                    {{forloop.counter}}
                </button>
            </td>
            <td><a href="{% url 'update_items' instance.id %}">{{instance.item_name|title}}</a></td>
            <td>
                {% if instance.quantity <= instance.reorder_level %}
                <div style="background-color: orange;">
                    {{instance.quantity}}
                </div>
                {% else %}
                {{instance.quantity}}
                {% endif %}
            </td>
            <td>
                <a href="{% url 'receive_items' instance.id %}"><i class="fa-solid fa-hand-holding-hand custom-icon"
                        data-toggle="tooltip" data-placement="top" title="Item In"></i></a>
                <a href="{% url 'issue_items' instance.id %}"><i class="fa-solid fa-hand-holding custom-icon"
                        data-toggle="tooltip" data-placement="top" title="Item Out"></i></a>
                <a href="{% url 'item_detail' instance.id %}"><i class="fa-solid fa-info custom-icon"></i></a>
                <a href="{% url 'update_items' instance.id %}"><i class="fa-solid fa-pen-to-square custom-icon"></i></a>
                <a href="{% url 'delete_items' instance.id %}"><i class="fa-solid fa-trash"></i></a>
            </td>
        </tr>
        <tr>
            <td colspan="7">
                <div class="collapse" id="collapse{{forloop.counter}}">
                    <div class="card card-body">
                        <table class="table">
                            <tr>
                                <th>HOUSEHOLD</th>
                                <td>{{instance.household}}</td>
                            </tr>
                            <tr>
                                <th>CATEGORY</th>
                                <td>{{instance.category}}</td>
                            </tr>
                            <tr>
                                <th>ROOM</th>
                                <td>{{instance.room}}</td>
                            </tr>
                            <tr>
                                <th>HAS WARRANTY</th>
                                <td>{% if instance.has_warranty %}
                                    Yes
                                    {% else %}
                                    No
                                    {% endif %}
                                </td>
                            </tr>
                        </table>
                        <!-- Add additional content related to this table row -->
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
<!-- Medium Table Ends -->

<!-- Small Table Begins -->
<div class="display_table d-lg-none d-md-none d-sm-block">
    <table class="table">
        <thead>
            <tr>
                <th>COUNT</th>
                <th>ITEM NAME</th>
                <th>UPDATE/DELETE</th>
            </tr>
        </thead>
        {% for instance in queryset %}
        <tr>
            <td>
                <button class="custom-btn btn btn-link" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse{{forloop.counter}}" aria-expanded="false"
                    aria-controls="collapse{{forloop.counter}}">
                    {{forloop.counter}}
                </button>
            </td>
            <td><a href="{% url 'update_items' instance.id %}">{{instance.item_name|title}}</a></td>
            <td>
                <a href="{% url 'receive_items' instance.id %}"><i class="fa-solid fa-hand-holding-hand custom-icon"
                        data-toggle="tooltip" data-placement="top" title="Item In"></i></a>
                <a href="{% url 'issue_items' instance.id %}"><i class="fa-solid fa-hand-holding custom-icon"
                        data-toggle="tooltip" data-placement="top" title="Item Out"></i></a>
                <a href="{% url 'item_detail' instance.id %}"><i class="fa-solid fa-info custom-icon"></i></a>
                <a href="{% url 'update_items' instance.id %}"><i class="fa-solid fa-pen-to-square custom-icon"></i></a>
                <a href="{% url 'delete_items' instance.id %}"><i class="fa-solid fa-trash"></i></a>
            </td>
        </tr>
        <tr>
            <td colspan="7">
                <div class="collapse" id="collapse{{forloop.counter}}">
                    <div class="card card-body">
                        <table class="table">
                            <tr>
                                <th>HOUSEHOLD</th>
                                <td>{{instance.household}}</td>
                            </tr>
                            <tr>
                                <th>CATEGORY</th>
                                <td>{{instance.category}}</td>
                            </tr>
                            <tr>
                                <th>ROOM</th>
                                <td>{{instance.room}}</td>
                            </tr>
                            <tr>
                                <th>QUANTITY</th>
                                <td>
                                    {% if instance.quantity <= instance.reorder_level %}
                                    <div style="background-color: orange;">
                                        {{instance.quantity}}
                                    </div>
                                    {% else %}
                                    {{instance.quantity}}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>HAS WARRANTY</th>
                                <td>{% if instance.has_warranty %}
                                    Yes
                                    {% else %}
                                    No
                                    {% endif %}
                                </td>
                            </tr>
                        </table>
                        <!-- Add additional content related to this table row -->
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>


{% endblock %}

{% block afterloadjs %}

<script>
    $(document).ready(function () {
        $('#myTable').DataTable(); // Initialize DataTables on your table with the ID "myTable"
        $('.collapse').collapse()
    });

    document.getElementById('searchForm').addEventListener('submit', function (e) {
        e.preventDefault(); // Prevent the form from actually submitting
        // Close the accordion
        var accordionElement = document.getElementById('collapseOne');
        var bsCollapseInstance = new bootstrap.Collapse(accordionElement);
        bsCollapseInstance.hide();
        // Now you can submit the form if needed
        this.submit();
    });
</script>




{% endblock %}